:host {
  display: var(--UI-Directory-Collection-Display, block);
}

.segments {
  scroll-behavior: var(--UI-Directory-Collection-ScrollBehavior, smooth);
}

.marks {
  scroll-behavior: var(--UI-Directory-Collection-ScrollBehavior, smooth);
}
